{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
    Register
{% endblock %}

{#{% block form_content %}#}
    {#    <h1>Register</h1>#}
    {#        {{ wtf.quick_form(register_user_form, extra_classes="md-form") }}#}
{#    <form action="{{ url_for('security.register') }}" method="POST" class="" name="register_user_form">#}
{#        {{ register_user_form.hidden_tag() }}#}
{##}
{#        {{ wtf.form_errors(register_user_form) }}#}
{#        #}
{#        #}
{#        <div class="md-form">{{ wtf.form_field(register_user_form.email) }}</div>#}
{#        <div class="md-form">{{ wtf.form_field(register_user_form.password) }}</div>#}
{#        <div class="md-form">{{ wtf.form_field(register_user_form.password_confirm) }}</div>#}
{#        {{ wtf.form_field(register_user_form.submit) }}#}
        {##}
{#    </form>#}
{#{% endblock %}#}

{% block app_content %}
    <div class="card mt-5 auth-card">
        <form class="text-center border border-light p-5" action="{{ url_for('security.register') }}" method="POST"
              name="register_user_form">
            <p class="h4 mb-4">Register</p>
            <div class="card-body px-lg-5 pt-0">
                {{ register_user_form.hidden_tag() }}

                <div class="md-form form-group required">{{ register_user_form.email.label(class="form-control-label") }} {{ register_user_form.email(class="form-control mb-4") }}</div>
                {% if register_user_form.email.errors %}
                    <div class="invalid">
                        {% for error in register_user_form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="md-form form-group required">{{ register_user_form.password.label(class="form-control-label") }} {{ register_user_form.password(class="form-control mb-4") }}</div>
                {% if register_user_form.password.errors %}
                    <div class="invalid">
                        {% for error in register_user_form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="md-form form-group required">{{ register_user_form.password_confirm.label(class="form-control-label") }} {{ register_user_form.password_confirm(class="form-control mb-4") }}</div>
                {% if register_user_form.password_confirm.errors %}
                    <div class="invalid">
                        {% for error in register_user_form.password_confirm.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <button type="submit" class="btn btn-info" disabled>Register</button>

        </form>
    </div>
{% endblock %}
