[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
Flask = "*"
Flask-Cors = "*"
Flask-Debug = "*"
Flask-Limiter = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-Script = "*"
Flask-Bootstrap4 = "*"
flask-security = "*"
flask-wtf = "*"
psycopg2 = "*"
python-decouple = "*"
python-dotenv = "*"
slackclient = "*"

[dev-packages]

[requires]
python_version = "3.6"
