{% import "_macros.html" as util %}
<!doctype html>
<head>
    {% block styles %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    {% endblock %}
    {% block title %}
        <title>{% if title %}{{ title }} - Pyback UI{% else %}Pyback UI{% endif %}</title>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('web.index') }}">
            <img src="{{ url_for('static', filename='img/slate.png') }}" width="30" alt="">
            Pyback
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ util.navlink('web.index', 'Home') }}
                {{ util.navlink('web.code_school', 'New Codeschool') }}
                {% if current_user.is_authenticated %}
                    {{ util.navlink('user.index_view', 'User Admin') }}
                    {{ util.navlink('web.admin_logs', 'Logs') }}
                    {{ util.navlink('web.messages', 'Bot Messages') }}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav">
                {% if current_user.is_anonymous %}
                    {{ util.navlink('security.login', 'Login') }}
                {% else %}
                    {{ util.navlink('security.logout', 'Logout') }}
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

<footer>
    {% block footer %}
        {% block scripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        {% endblock %}
    {% endblock %}
</footer>
</body>