{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}

{% block content %}
    <table id="message-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Timestamp
            </th>
            <th class="th-sm">Channel
            </th>
            <th class="th-sm">Message
            </th>
            <th class="th-sm">Remove
            </th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.ts }}</td>
                <td>{{ message.channel }}</td>
                <td>{{ message.text }}</td>
                <td>Delete</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
{% endblock %}
